.flex {
    display:flex;
}
.Box {
    width: 150px;
    height: 100px;
    justify-content: center;
    background-color: aqua;
    border-left: 2px solid darkred;
    border-right:2px solid darkred ;
    border-top: 2px solid darkred;
    border-bottom: 2px solid darkred;
    text-align: center;
    padding: 30px;
    text-size-adjust: 40px;
    /* text-size: 20px; */
    /* color: aliceblue; */
}
 /* This are default values 

.Box {
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: auto;
}
.Box:nth-child(2) {
     flex:1 1;
    flex-grow: 1;
    flex-shrink: 0; */
    /* flex-basis: 0;
} */
.Box:nth-child(3) {
    margin-left: auto;
    /* flex:1 1;
    flex-grow: 1;
    flex-shrink: 0; */
   
}
.Box:nth-child(2) {
    margin-left: auto;
    /* flex:1 1;
    flex-grow: 1;
    flex-shrink: 0; */
   
}
.Box:nth-child(4) {
    margin-left: auto;
    /* flex:1 1;
    flex-grow: 1;
    flex-shrink: 0; */
   
}

.flex {

    align-content: space-between;
    height: 500px;
    border:5px solid black;
    flex-direction: row;
    
}



/* .flex {
    gap: 10px;
    flex-wrap: wrap;
    flex-direction: column;

} */
/* .Box:nth-child(2) {
    height: 30px;
    width: 40px;
} */