body{
    background-color: #8751eb;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.container{
    background-color: white;
    height: 450px;
    width: 400px;
    border-radius: 8px;
    text-align: center;
    margin-left: 40%;
    margin-top: 10%;
    padding-top: 10px;

}
 .inputCounter{
    text-align: left;
     margin-left: 70px;
    font-size: 13px;
}

.textInput{
    border-radius: 10px;
    background-color: rgb(239, 244, 244);
    border-style: none;
    margin-top: 5px;
    height: 30px;
    width: 240px;
    padding-left: 15px;

} 
.msgcotainer{
    border-radius: 10px;
    background-color: rgb(233, 245, 245);
    border-style: none;
}

#button{
    padding: 5px;
    margin-top: 40px;
    background-color: #340789;
    color: white;
    border-radius: 15px;
    width: 90px;
    height: 30px;
    border-style: none;
 
}



